[core]
	excludesfile = /Users/watanabetakumi/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = 渡邉拓未
	email = e2fde7ded7anxbne05se@yahoo.co.jp
[alias]
    st = status
    co = commit
    ch = checkout
    br = branch
    g = git 
    refresh = checkout .
    soft = reset --soft
    ammend = commit --amend 
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
